@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Black.ttf');
    font-style: normal;
    font-weight: 900;
}


:root {
    --font-h1: 48px;
    --font-h2: 36px;
    --font-h3: 32px;
    --font-primary: 20px;
    --font-body: 16px;
    --border-radius: 16px;
    --box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
    --transition-fast: 0.14s ease-in-out;
    --pink: #db49cf;
    --red: #db5349;
    --brown: #db7749;
    --yellow: #b39b00;
    --green: #19a781;
    --blue: #3593eb;
    --purple: #8149db;
    --gray: #7e7e7e;
    --light-gray: #dddddd;
    --white: #919191;
    --black: #4a4a4a;
    --white-transparent: rgba(255, 255, 255, 0.1);
    --black-transparent: rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background: whitesmoke;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    color: white;
    background: var(--red);
    box-shadow: var(--box-shadow);
}

header input {
    padding: 0 8px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 6px;
}

main {
    overflow-y: auto;
}

dialog {
    position: relative;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 650px;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    transform: translate(-50%, -50%);
    overflow: clip;
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}

.d-none {
    display: none;
}

.bg-green {
    background: var(--green);
}

.bg-red {
    background: var(--red);
}

.bg-blue {
    background: var(--blue);
}

.bg-white {
    background: var(--white);
}

.bg-brown {
    background: var(--brown);
}

.bg-yellow {

    background: var(--yellow);
}

.bg-purple {
    background: var(--purple);
}

.bg-pink {
    background: var(--pink);
}

.bg-gray {
    background: var(--gray);
}

.bg-black {
    background: var(--black);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    user-select: none;
}

.logo-container img {
    width: 32px;
    height: 32px;
}

pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 16px;
    padding: 32px 48px;
}

pokemon-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 340px;
    height: 250px;
    padding: 24px 32px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: white;
    overflow: clip;
    cursor: pointer;
    user-select: none;
    transition: transform var(--transition-fast);
}

pokemon-card:hover {
    transform: scale(105%);
}

pokemon-card h2,
pokemon-card h3 {
    display: block;
    margin: 0;
    line-height: 80%;
    font-weight: 900;
}

pokemon-card h2 {
    align-self: flex-end;
    color: var(--black-transparent);
    font-size: var(--font-h2);
}

pokemon-card h3 {
    font-size: var(--font-h3);
}

pokemon-card .types,
.modal-head .types {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    font-size: var(--font-primary);
    font-weight: 700;
}

pokemon-card .types span,
.modal-head .types span {
    width: fit-content;
    padding: 8px 12px;
    border-radius: var(--border-radius);
    background: var(--white-transparent);
    box-shadow: var(--box-shadow);
}

pokemon-card .card-background {
    position: absolute;
    right: -50px;
    bottom: -50px;
    width: 200px;
    height: 200px;
    opacity: 0.2;
}

pokemon-card .pokemon-img {
    position: absolute;
    right: 32px;
    bottom: 25px;
    width: 150px;
    height: 150px;
}


/* Loader */
.loader {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    overflow: hidden;
}

.loader img {
    width: 150px;
    height: 150px;
    animation: rotating 16s linear infinite;
}


/* Modal */
.modal-head {
    position: relative;
    padding-inline: 24px;
    color: white;
    font-weight: 700;
    user-select: none;
    z-index: 2;
}

.modal-heading {
    display: flex;
    justify-content: space-between;
}

.modal-heading h2 {
    font-size: var(--font-h2);
}

.modal-heading h2:last-of-type {
    font-size: 28px;
}

.modal-head .genera {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    margin-top: 24px;
    font-size: var(--font-primary);
}

.modal-head .genera img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;
    transition: transform var(--transition-fast);
}

.modal-head .genera img:hover {
    transform: scale(110%);
}

.modal-body .spinning-pokeball {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 320px;
    height: 320px;
    object-fit: contain;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: rotating-center 20s linear infinite;
}

.modal-body .rectangle-simple {
    position: absolute;
    top: -150px;
    left: -30px;
    width: 200px;
    height: 200px;
    opacity: 0.2;
    transform: rotate(-8deg);
    z-index: -1;
}

.modal-body .dots-simple {
    position: absolute;
    top: -14%;
    left: 55%;
    width: 150px;
    height: 150px;
    opacity: 0.2;
    transform: rotate(5deg);
    z-index: -1;
}

.modal-body .modal-pokemon {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 250px;
    height: 250px;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal-details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100px;
    padding: 24px 32px;
    font-weight: 700;
    background: white;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: var(--box-shadow);
    user-select: none;
}

.modal-about,
.modal-base-stats {
    height: 100%;
    padding-top: 24px;
}

.modal-about {
    display: flex;
    flex-direction: column;
}

.additional-info {
    display: flex;
    justify-content: space-around;
    padding-block: 8px;
    margin-inline: 6px;
    margin-top: auto;
    margin-bottom: 8px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.modal-base-stats table {
    width: 100%;
    white-space: nowrap;
}

.modal-base-stats td:nth-child(2) {
    padding-inline: 8px;
    text-align: end;
}

.modal-base-stats td:last-child {
    width: 100%
}

.progress-bar {
    width: 100%;
    height: 12px;
    background: var(--light-gray);
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    height: 12px;
    background: #19a781;
}

.close {
    width: 32px;
    height: 32px;
    cursor: pointer;
}


/* Tabs */
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    display: block;
    padding: 12px 0;
    text-align: center;
    font-size: var(--font-primary);
    font-weight: 700;
    cursor: pointer;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #000000;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    width: 90%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tabs .tab {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tabs .tab > div {
    flex-grow: 1;
}

.tabs .tab [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #a03c35;
    border-radius: 6px;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating-center {
    from {
        transform: translate(-50%, -50%)
                rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%)
                rotate(360deg);
    }
}