@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Black.ttf');
    font-style: normal;
    font-weight: 900;
}


:root {
    --font-h1: 40px;
    --font-h2: 36px;
    --font-h3: 32px;
    --font-primary: 20px;
    --font-secondary: 14px;
    --box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.15);
    --red: #db5349;
    --green: #49d0b0;
    --blue: rgb(86, 159, 228);
    --white: rgb(170, 170, 170);
    --white-transparent: rgba(255, 255, 255, 0.2);
    --black-transparent: rgba(0, 0, 0, 0.2);
}


body {
    margin: 0;
    font-family: 'Lato';
    font-weight: 900;
    background: whitesmoke;
    box-sizing: border-box;
}


.txt-h1 {
    font-size: var(--font-h1);
    margin: 16px 0;
}

.txt-h2 {
    font-size: var(--font-h2);
    margin: 16px 0;
}

.txt-h3 {
    font-size: var(--font-h3);
    margin: 16px 0;
}

.txt-h1 {
    font-size: var(--font-h1);
    margin: 16px 0;
}

.txt-body {
    font-size: var(--font-primary);
}

.bg-red {
    background: var(--red);
}

.bg-green {
    background: var(--green);
}

.bg-blue {
    background: var(--blue);
}

.bg-white {
    background: var(--white);
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Pokemon Preview Container */
.pokemon-preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 32px;
}


/* Pokemon Preview Card */
.pokemon-preview-card {
    position: relative;
    width: 300px;
    height: 200px;
    padding: 24px;
    font-size: 24px;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.pokemon-preview-card:hover {
    transform: scale(105%);
}

.types {
    display: flex;
    flex-direction: column;
}

.type {
    width: max-content;
    padding: 4px 12px;
    margin: 4px 0;
    border-radius: 20px;
    background: var(--white-transparent);
}

.id {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--black-transparent);
}

.pokeball-background {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 220px;
    height: 220px;
    opacity: 0.2;
}

.pokemon-picture {
    position: absolute;
    right: 40px;
    bottom: 24px;
    width: 140px;
    height: 140px;
}